<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MySqlConnectionString" value="Data Source=localhost; Initial Catalog=Money; User ID=Master; Password=bobo99pj;" />
    <add key="Delay"  value="1000" />
    <add key="TablesToUpdate"  value="AF_KF_ISK_IPS_TJP" />
    <add key="SpecialAktier"  value="PARA.STO_CLS-B.STO_NENT-B.STO" />
  </appSettings>
</configuration>
